body {
    font-family: 'Roboto Slab', serif;
    line-height: 20px;
    overflow-x: hidden;
    font-size: 14px;
    font-weight: 400;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
}

.nav-tabs .nav-link{
    color: #fff !important;
    background-color: #f1900b !important;
    border-color: #dee2e6 #dee2e6 #fff !important;
}

.nav-tabs:hover .nav-link:hover{
    color: #fff !important;
    background-color: #f99c1c !important;
    border-color: #dee2e6 #dee2e6 #fff !important;
}

.alertify .ajs-modal {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    padding: 0;
    overflow-y: auto;
    z-index: 2981 !important;
}

.select2-container .select2-selection--single {
    box-sizing: border-box;
    cursor: pointer;
    display: block;
    height: 38px !important;
    user-select: none;
    -webkit-user-select: none;
}

.modal-lg med {
    max-width: 80% !important;
}